:root{
    --my-font: "Lucida Console", "Courier New", monospace;
    --transition-speed: 0.5s;
    --transition-delay: 0s;

    --mid-color: #868686;
    --darker-mid-color: #6e6d6d;

    --mid-color-light: #797979;
    --darker-mid-color-dark: #919292;
}

a {
    text-align: center;
    transition: var(--transition-speed);
}

a:hover{
    color: var(--mid-color);
    transition: var(--transition-speed);
    transition-delay: var(--transition-delay);
    font-weight: 400;
    transition: 0.5s ease-out;
}

.alight {
    color: black;
}

.alight:hover{
    color: var(--mid-color-light);
    transition: var(--transition-speed);
    transition-delay: var(--transition-delay);
    font-weight: 400;
    transition: 0.5s ease-out;
}

.adark {
    color: white;
}

.adark:hover{
    color: var(--mid-color);
    transition: var(--transition-speed);
    transition-delay: var(--transition-delay);
    font-weight: 400;
    transition: 0.5s ease-out;
}

body{
    font-family: "Lucida Console", "Courier New", monospace;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(100,0,255) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}
  
.dark{
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(100,0,255) 100%);
}

.light{
    color: black;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 50%, rgb(100, 0, 255) 100%);
}

footer{
    text-align: center;
}

.guzik{
    color: var(--main-text-color);
    text-align: center;
    font-size: 20px;
    background-color: var(--mid-color);
    border-radius: 45px;
    width: 100px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: var(--transition-speed);
}

.guzik:hover{
    background-color: var(--darker-mid-color);
    transition: var(--transition-speed);
}

.site-title{
    text-align: center;
    font-size: 25px;
    color: var(--main-text-color);
}

.desc-type{
    font-size: 20px;
}

.big-desc-type{
    font-size: 23px;
}

.small-desc-type{
    font-size: 17px;
}

.onlyfont{
    font-size: 15px;
}

.zdjecie{
    background: var(--mid-color);
    border-radius: 35px;
    width: 20%;
    height: 20%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.pfp{
    width: 10%;
    height: 10%;
}

.bigga-btw{
    font-size: 12px;
}

.btw{
    font-size: 8px;
}

.navbar{
    color: var(--main-text-color);
}

#nazwaklawy{
    font-size: 20px;
}

.post {
    background: var(--mid-color);
    border-radius: 15vw;
    width: 80vw;
    padding: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.post-title{
    text-align: center;
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.post-title-description {
    text-align: center;
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.post-description {
    text-align: center;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
}

video{
    background: var(--mid-color);
    border-radius: 35px;
    padding: 5px;
}

.section-main {
    font-size: 14px;
    margin-left: 300px;
    margin-right: 300px;
    height: 900px;
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar {
    float: left;
    width: 300px;
    overflow-y: auto;
    flex-shrink: 0;
    text-align: center;
    padding-top: 300px;
}

.sidebar-right {
    float: right;
    width: 300px;
    overflow-y: auto;
    flex-shrink: 0;
    text-align: center;
    padding-top: 300px;
}

/* testing area */
/* BEWARE THE DANGER */

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgb(145, 145, 145) 50%, rgb(100, 0, 255) 100%); 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, rgb(100, 100, 100) 50%, rgb(91, 0, 228) 100%); 
}

/*
.webkit-scrollbar-thumb-dark{
    background: linear-gradient(0deg, rgb(255, 255, 255) 50%, rgb(100, 0, 255) 100%); 
}

.webkit-scrollbar-thumb-light{
    background: linear-gradient(0deg, rgb(0, 0, 0) 50%, rgb(100, 0, 255) 100%); 
}


.webkit-scrollbar-thumb-dark:hover{
    background: linear-gradient(0deg, rgb(224, 224, 224) 50%, rgb(91, 0, 228) 100%);
}

.webkit-scrollbar-thumb-light:hover{
    background: linear-gradient(0deg, rgb(31, 31, 31) 50%, rgb(91, 0, 228) 100%);
}

*/